@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans'),
  url("https://jaehoon-bucket.s3.ap-northeast-2.amazonaws.com/NotoSansCJKkr-DemiLight.woff") format('woff')
}
*{
  font-family: 'Noto Sans';
}
html{
  scroll-behavior : smooth;
    -webkit-overflow-scrolling: touch;
}